.card-bicicleta {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
}

.card-bicicleta img {
    width: 280px;
    border-radius: 3px;
}

.card-bicicleta .modelo {
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 600;
}

.card-bicicleta .preco{
    color:#595959;
    font-weight: 300;
}

